<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8"/>
    <title>Pivní válka</title>
    <link rel="icon" type="image/png" href="../favicon.png"/>
    <link rel="apple-touch-icon" href="../favicon.png">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"
            integrity="sha256-bC3LCZCwKeehY6T4fFi9VfOU0gztUa+S4cnkIhVPZ5E="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="item-chart">
    <a href="chart_all.html">
        <canvas id="chart"></canvas>
    </a>
</div>
<script>
    const ctx = document.getElementById('chart').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ chart_labels | safe }},
            datasets: [{
                label: 'Jirka',
                data: {{ chart_data_jirka | safe }},
                borderColor: '#51d49a',
                backgroundColor: '#51d49a'
            },
                {
                    label: 'Dan',
                    data: {{ chart_data_dan | safe }},
                    borderColor: '#278db2',
                    backgroundColor: '#278db2'
                }]
        },
        options: {
            plugins: {
                legend: {
                    display: false,
                },
            }
        },
    });
</script>
</body>
</html>
