<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8"/>
    <title>Pivní válka</title>
    <link rel="icon" type="image/png" href="/untappd/web/favicon.png"/>
    <link rel="apple-touch-icon" href="/untappd/web/favicon.png">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4/dist/chart.umd.min.js"></script>
</head>
<body>
<div class="item-chart">
    {% if link %}
    <a href="{{ link }}">
        <canvas id="chart"></canvas>
    </a>
    {% else %}
    <canvas id="chart"></canvas>
    {% endif %}
</div>
<script>
    const ctx = document.getElementById('chart').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ total_chart_data.labels | safe }},
            datasets: [
                {% for dataset in total_chart_data.datasets %}
                {
                    label: '{{ dataset.label }}',
                    data: {{ dataset.data | safe }},
                    borderColor: '{{ dataset.color }}',
                    backgroundColor: '{{ dataset.color }}',
                },
                {% endfor %}
            ],
        },
        options: {
            plugins: {
                legend: {
                    display: false,
                },
            },
        },
    });
</script>
</body>
</html>
