name: archivist
on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:
jobs:
  archivist:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: Run
        env:
          FEED_KEY: ${{ secrets.FEED_KEY }}
        run: make run-archivist
      - name: Save
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_user_name: github-actions[bot]
          commit_user_email: 41898282+github-actions[bot]@users.noreply.github.com
          commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          commit_message: Update archivist
