name: Tests
on: push
jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: Test
        run: make test
  mypy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: Test
        run: make mypy
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: Test
        run: make lint
#  ty:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Check out
#        uses: actions/checkout@v4
#      - name: Install uv
#        uses: astral-sh/setup-uv@v4
#        with:
#          enable-cache: true
#      - name: Test
#        run: make ty
  lint-html:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: Lint HTML templates
        run: make lint-html
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: Check Python formatting
        run: uvx ruff format --check
      - name: Check HTML formatting
        run: uvx djlint templates/ --check
  smoke-pivni-valka:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: Test pivni-valka
        run: |
          rm -f index.html
          echo "BEGIN TRANSACTION; CREATE TABLE [pivni_valka] ([id] integer PRIMARY KEY, [date] text, [user] text, [unique_beers] integer); INSERT INTO "pivni_valka" (date, user, unique_beers) VALUES('1999-01-01','sejrik',0); INSERT INTO "pivni_valka" (date, user, unique_beers) VALUES('1999-01-01','mencik2',0); INSERT INTO "pivni_valka" (date, user, unique_beers) VALUES('1999-01-01','Indi51',0); INSERT INTO "pivni_valka" (date, user, unique_beers) VALUES('1999-01-01','ominar',0); INSERT INTO "pivni_valka" (date, user, unique_beers) VALUES('1999-01-01','karolina_matukova_7117',0); COMMIT;" > data/data_dump.sql
          make run-pivni-valka-notificationless
          test -e index.html
          grep "Pivní válka" index.html
          grep "INSERT INTO \"pivni_valka\" VALUES(2" data/data_dump.sql
  smoke-notifier:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: Test notifier
        run: |
          rm -f notifier/ambasada.json
          make run-notifier-notificationless
          test -e notifier/ambasada.json
          grep "name" notifier/ambasada.json
